<!DOCTYPE html>
<html lang="en">
  
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Backend I</title>
</head>

<body>
  <h1>Backend</h1>
  {% block 'nav' %}
    {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">logout</button>
      </form>
      <br>
      <a href="{% url 'posts' %}">Posts</a>
      <a href="{% url 'products' %}">Products</a>
    {% else %}
      <a href="{% url 'signup' %}">signup</a>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
    <hr/>
  {% endblock %}
  {% block 'content' %} {% endblock %}
</body>

</html>
